<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>marcusm.alfred.movieratings</string>
	<key>connections</key>
	<dict>
		<key>33DE9FF1-2C78-4537-AC44-5B57F0FE8A79</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8C89BA0F-EC9C-4E75-9FB1-B937B17FAAA9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Marcus Mattsson</string>
	<key>description</key>
	<string>Search for a movie and see IMDb, Rotten Tomatoes and Metacritic ratings</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Movie Ratings</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>mr</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching for movies...</string>
				<key>script</key>
				<string>python movieratings.py "{query}"</string>
				<key>title</key>
				<string>Enter a movie title</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>33DE9FF1-2C78-4537-AC44-5B57F0FE8A79</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>8C89BA0F-EC9C-4E75-9FB1-B937B17FAAA9</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>33DE9FF1-2C78-4537-AC44-5B57F0FE8A79</key>
		<dict>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>8C89BA0F-EC9C-4E75-9FB1-B937B17FAAA9</key>
		<dict>
			<key>ypos</key>
			<real>40</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/mattsson</string>
</dict>
</plist>
